[Unit]
Description=Start KrillKounter daemon

[Service]
Type=simple
Restart=on-failure
RestartSec=5s

Environment=KK_STATS_PATH=/usr/share/KrillKounter/stats.json
Environment=KK_DEVICE_PATH=/dev/sda
Environment=KK_DEVICE_NAME=sda
Environment=KK_UPDATE_RATE=3600
Environment=KK_SECTOR_SIZE=512
ExecStart=/usr/bin/KrillKounter \
-c ${KK_CONFIG_PATH} \
-s ${KK_STATS_PATH} \
-d ${KK_DEVICE_PATH} \
-n ${KK_DEVICE_NAME} \
-r ${KK_UPDATE_RATE} \
-b ${KK_SECTOR_SIZE}

[Install]
WantedBy=multi-user.target
